<!doctype html>
<html lang="pt-br" xmlns:th = "https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"> -->
		
		<title>Cadastro de Usuario - Pastel System</title>
		
		<link href="/bootStrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/bootStrap/home.css" rel="stylesheet">
		
	</head>
	
	<style>
		.bg-purple {
			background-color: var(--purple);
		}
		
	</style>

	<body class="bg-light">
	
		<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
			<form method="post" action="/api/v1/home">
				<button class="navbar-brand btn btn-link" value="${session.userAcessando}">
				<h1 class="h1 mb-3 font-weight-normal">Home</h1>
				</button>
			</form>
	
			<div class="navbar-collapse offcanvas-collapse"
				id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<form method="post" action="/api/v1/home/usuarios/listar-usuario">
							<button class="nav-link btn btn-link" value="${session.userAcessando}">
							Usuários</button>
						</form>
						</li>
					<li class="nav-item">
						<form method="post" action="/api/v1/home/agendar-tarefa">
							<button class="nav-link btn btn-link" value="${session.userAcessando}">
								Agendar	Tarefa</button>
						</form>
					</li>
				</ul>
				<ul class="navbar-nav" style="margin-right: 10%;">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" id="dropdown01"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span th:text = "${session.userAcessando}"></span></a>
						<div class="dropdown-menu" aria-labelledby="dropdown01">
							<form method="Post" action="/api/v1/logout">
								<button class="dropdown-item" type="submit">Sair
									<span hidden="hidden" th:text = "${session.userAcessando}"></span>
								</button>
							</form>
						</div></li>
				</ul>
			</div>
		</nav>
	
		<br><br>

		<div class="container">
			
			<div class="alert alert-danger" style="margin: 2% 10% 0 10%; display: none;" id ="alertError" role="alert">
				  <h2 id="error" style="text-align: center; font-size: 1.4rem"></h2>
			</div>
		
			<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
				<svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" style= "margin-right: 1%;" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16" >
				 	 <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
				</svg>
				<div class="lh-100">
					<h6 class="mb-0 text-white lh-100"> Cadastrar Usuario</h6>
					<small>Preencha os Campos</small>
				</div>
			</div>
	
			<div class="container col-md-10 order-md-1">
				<form class="needs-validation" novalidate>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="nome">Nome</label> <input type="text"
								class="form-control" id="nomeCompleto" placeholder="Informe o Nome Completo"
								value="" maxlength= "54" required="required">
						</div>
						<div class="col-md-3 mb-3">
							<label for="telefone">Telefone Fixo <span class="text-muted">(Optional)</span></label> <input type="number"
								class="form-control" id="telefone"
								placeholder="Informe Telefone" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
								maxlength="10" value="">
						</div>
	
						<div class="col-md-3 mb-3">
							<label for="celular">Celular</label> <input type="number"
								class="form-control" id="celular" placeholder="Informe Celular"
								value="" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
								maxlength="10" required="required" onreset="">
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="email">E-mail</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">@</span>
								</div>
								<input type="email" class="form-control" id="email"
									placeholder="Informe o Email" maxlength="59" required="required">
							</div>
						</div>
						
						<div class="col-md-6 mb-3">
							<label for="senha">Senha</label>
							<div class="input-group">
								<input type="password" class="form-control" id="senha"
									placeholder="Informe o Senha" maxlength="23" required="required">
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="dtNascimento">Data de Nascimento</label> 
							<input type="date" class="form-control" id="dt_Nascimento" placeholder=" Informe Data de Nascimento"
								required="required">
						</div>
						
						<div class="col-md-6 mb-3">
								<label for="tipo">Tipo Usuário</label> 
								<div class="form-group">
								    <select class="form-control" id="tipo" required="required">
								      <option value = "0">Selecione o Tipo de Usuário</option>					    
									  <option>Usuário Comum</option>
								      <option>Gestor</option>
					            	</select>
							 	</div>
						</div>
					</div>
					
					<div class="mb-3">
						<label for="endereco">Endereço</label>
						<input type="text" class="form-control" id="endereco"
							placeholder="Informe seu Endereço" maxlength="254" required="required">
					</div>

					<!-- <div class="mb-3">
					<label for="endereco">Foto de Perfil</label>
						<div class="custom-file">
							<input type="file" class="custom-file-input" disabled="disabled" id="fotoPerfil"
								aria-describedby="inputGroupFileAddon01"> 
								<label class="custom-file-label" for="inputGroupFile01">Carregar foto</label>
						</div>
					</div> -->
					<hr class="mb-4">
					<button class="btn btn-primary btn-lg btn-block" id="btnCadastrarUsuario" type="button" onClick = "cadastrarusuario()">Realizar Cadastro </button>
				</form>
			</div>
		</div>

		<footer class="mastfoot mt-auto text-center" style="width: 100%; height: 50px; margin: auto; bottom: 0; position: fixed;">
        <div class="inner">
          <p>&copy; Pastel
			System - DS</p>
        </div>
      </footer>
	
	</body>
	
	<script type="text/javascript" src="/bootStrap/js/jquery.min.js"></script>	
	<script type="text/javascript" src="/bootStrap/js/jqueryalert.min.js"></script>
	<script type="text/javascript" src="/bootStrap/js/popper.min.js"></script>
	<script type="text/javascript" src="/bootStrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/bootStrap/js/holder.min.js"></script>
	<script type="text/javascript" src="/bootStrap/js/offcanvas.js"></script>
	
	<!-- scriptsOperation -->
	<script type="text/javascript" src="/scriptsOperation/usuario/formCadastrarUsuario.js"></script>
	<script type="text/javascript" src="/scriptsOperation/limpaCamposForm.js"></script>
	
</html>
